<h1>Tweets from the mind-brain of <em><%= @username %></em></h1>
<ul>
  <% @my_tweets.each do |tweet| %>
    <li>
      <a href="http://www.twitter.com"><%= tweet[:text] %></a>
    </li>
  <% end %>
</ul>

<% #@picture[0] %>